<! DOCTYPE html>
{% extends "basic.html" %}

{% block content %}
<center>
<img src="static/Pokemon-Logo.jpg" alt="Pokemon Logo", width = "500" >
<div class="col-xs-3">
    <form action="{{url_for('poke_name')}}">
        <label for="pname">Type in Pokemon name or Pokedex number: </label>
        <input type="text" name="pname"  class= "col-xs-3" required="True" data-error="Please input a pokemon name">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</center>
{% endblock %}
